<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nairobi County Government</h1>
    <p>
      Your bill has been succesfully created
    </p>
    <p>
    </p>
    <p>Thanks for working with us</p>
  </body>
</html>
